<!DOCTYPE HTML>
<html>

<%- include("head") -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

  <%- include("header-menu") -%>
  
<!-- se a primeira situação ser falsa a segunda nao é verificada -->
  
  <% if(typeof isHome=== 'boolean' && isHome) { %>
    <%- include("header-index") -%>

  <% } else { %>
    <%- include("header") -%>
  <% } %>
  
